@font-face {
    font-family: "Bold";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.ttf") format("truetype"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 900;
}

@font-face {
    font-family: "Regular";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.ttf") format("truetype"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*popup
*/

.page {
    position: relative;

}

.popup {
    position: absolute;
    width: 390px;
    padding: 46px 30px 0 30px;
    min-height: 587px;
    margin: auto;
    top: 244px;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #ffffff;
}

.page::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popup-title {
    font-family: "Bold";
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
}

.popup-title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 7px;
}

.form-group {
    width: 100%;
    display: block;
    margin-bottom: 30px;

}

.form-hint {
    font-family: "Regular";
    font-size: 0.8125rem;
    display: block;

}

.form-select {
    width: 100%;
    background-color: #f4f7f6;
    border: none;
    height: 46px;
    padding-left: 19px;
    margin-top: 11px;
    color: rgba(0, 0, 0, 0.54);
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 10px 17px;
    background-position: top 14px right 13px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-select:active,
.form-select:focus {
    outline: 0;
    outline-offset: 0;
    border-bottom: 1px solid #cabc8f;
    display: block;
}

.radio-group {
    position: relative;
}

.radio-group-text {
    font-family: "Regular";
    font-size: 0.8125rem;
    margin-right: 12px;
}

.radio-group-text::before {
    content: '';
    display: inline-block;
    z-index: 500;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url(../svg/form-empty-circle.svg);
    background-size: 16px;
    margin-top: 8px;
    margin-right: 6px;
    vertical-align: bottom;
}

.radio {
    display: none;
}

.radio:checked~.radio-group-text::before {
    background-image: url('../svg/form-circle.svg');
}

.popup-textarea {
    width: 100%;
    min-height: 100px;
    background-color: #f4f7f6;
    resize: none;
    margin-top: 10px;
    padding: 16px 0 0px 20px;
    border: none;
    font-family: "Regular";
    font-size: 0.8125rem;
}

.popup-textarea:focus {
    outline: none;
}

.button-popup {
    width: 100%;
    background-color: #b59f5b;
    color: #ffffff;
    height: 48px;
    border: none;
    font-family: "Bold";
    text-transform: uppercase;
    font-size: 0.875rem;
    margin-top: 18px;
}

.button-popup-close {
    position: absolute;
    z-index: 50;
    top: -30px;
    right: -4px;
    width: 21px;
    border: none;
    height: 21px;
    background-color: initial;
    background-image: url('../svg/form-x.svg');
}



/*
*header
*/


.header {
    background-image: url('../images/banner-bg.jpg');
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
}

.container_header {
    position: relative;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 29px 15px 0 15px;
}

.panel_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
}

.logo_img {
    width: 179px;
    height: 41px;
    display: block;
}

.menu_list {
    display: flex;
    list-style-type: none;
}

.menu__item {
    margin-left: 35px;
    text-decoration: none;
    color: #ffffff;
    font-family: Regular;
    font-size: 0.8125rem;
    text-transform: uppercase;
    list-style-type: none;
}

.menu__item:hover {
    text-decoration: underline;
}

.title_header {
    width: 687px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 107px;
    padding-bottom: 129px;
}

.title_header_item {
    text-align: center;
    font-family: Bold;
    font-size: 2.8125rem;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.6;
}

.header::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/*
*trends
*/

.trends {
    max-width: 1660px;
    margin-right: auto;
    margin-left: auto;
}

.trends-title {
    font-family: "Bold";
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 58px;
}

.trends-title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 7px;
}

.wrap-trends {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.trends-cards {
    width: calc(25% - 4px);
    padding: 0 23px 17px 19px;
    min-height: 319px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    position: relative;
    background-size: cover;
}

.trends-cards::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.trends-border {
    display: flex;
    list-style-type: none;
    border: 3px solid #e1d9bd;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 34px 19px 32px 32px;
    position: relative;
    z-index: 3;
}


.trends-category {
    list-style-type: none;
    display: flex;

}


.trends-item {
    text-decoration: none;
    color: #b59f5b;
    margin-right: 18px;
    font-size: 0.875rem;
    font-family: "Bold";
    text-transform: uppercase;
    line-height: 1;
    display: block;
    margin-bottom: 9px;
}

.trends-item:hover {
    text-decoration: underline;
}

.trends-content {
    color: #ffffff;
    font-size: 1.25rem;
    font-family: "Bold";
    text-transform: uppercase;
    line-height: 1.2;
    display: block;
}


.trends-bg-first {
    background-image: url('../images/trend1.jpg');
}

.trends-bg-second {
    background-image: url('../images/trend2.jpg');
}

.trends-bg-third {
    background-image: url('../images/trend3.jpg');
}

.trends-bg-fourth {
    background-image: url('../images/trend4.jpg');
}

/*
* main
*/

.wraper {
    max-width: 1200px;
    padding: 60px 14px 64px 15px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

.main_content {
    max-width: 778px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

}

.main_content:last-child {
    margin-bottom: 0;
}

.section_img {
    max-width: 381px;
    max-height: 294px;
    object-fit: cover;
    margin-right: 29px;
}

.news {
    max-width: 367px;
    box-sizing: border-box;
}

.category_menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.category_item:hover {
    text-decoration: underline;
}

.category_item {
    text-decoration: none;
    font-family: "BOLD";
    color: #b59f5b;
    margin-right: 19px;
    text-transform: uppercase;
    font-size: 0.875rem;
    display: block;
    line-height: 1;
}

.card-name {
    margin-top: 12px;
    margin-bottom: 30px
}

.card-name>a {
    text-decoration: none;
    font-family: "BOLD";
    color: #0f0d0e;
    margin-right: 19px;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.25rem;
    line-height: 1.1;
    display: block;
}

.card-name>a:hover {
    color: #b59f5b;
}

.card-date,
.author {
    display: inline-block;
    margin-top: 28spx;
}

.card-date {
    font-family: "Regular";
    font-size: 0.75rem;
    color: #888888;
    margin-right: 8px;
}

.author>a {
    font-family: "Bold";
    font-size: 0.75rem;
    color: #000000;
    list-style-type: none;
    text-decoration: none;
}

.card-content {
    margin-top: 45px;
    font-family: "Regular";
    font-size: 0.9375rem;
    color: #0f0d0e;
    line-height: 1.5;
}

.card-content>p {
    margin-bottom: 10px;
}


/*
*Блок асайд 
*/

.aside {
    width: 272px;
}

.aside-post-cards {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 18px;
}

.aside-post-img {
    background-size: cover;
    width: 70px;
}

.aside-card {
    width: 183px;
    display: block;
    line-height: 1;
}

.aside-card-date {
    font-family: "Regular";
    font-size: 0.75rem;
    color: #000000;
    opacity: 0.54;
    line-height: 1;
    display: block;
}

.aside-card-name>a {
    text-decoration: none;
    font-family: "BOLD";
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 0.875rem;
}

.aside-card-name>a:hover {
    color: #b59f5b;
}

.aside-post-title {
    font-family: "BOLD";
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1;
    display: block;
}

.aside-post-title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    margin-top: 11px;
}

/*
*seach
*/

.aside-search {
    margin-top: 56px;
    width: 100%;
    box-sizing: border-box;
}

.button-seech:hover {
    background-color: #323232;
}

.search-group {
    width: 100%;
    display: flex;
}

.field-seach {
    width: calc(100% - 48px);
    background-color: #f4f7f6;
    border: none;
    border-bottom: 1px solid #ebe7d7;
    padding-left: 19px;
}

.button-seech {
    width: 48px;
    height: 48px;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b59f5b;
    background-size: 18px;
    border: none;
    border-bottom: 1px solid #ebe7d7;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.button-seech:hover {
    background-color: #323232;
}

.field-seach:active,
.field-seach:focus {
    outline: 0;
    outline-offset: 0;
    border: 1px solid #cabc8f;
}


/*
*mailing
*/

.aside-mailing {
    width: 100%;
}

.aside-mailing-title {
    font-family: "BOLD";
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 57px;
}

.aside-mailing-title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 9px;
}

.field-mailing {
    width: 100%;
    background-color: #f4f7f6;
    padding-left: 18px;
    height: 48px;
    border: none;
    margin-bottom: 17px;
}

.field-mailing:active,
.field-mailing:focus {
    outline: 0;
    outline-offset: 0;
    border: none;
    border-bottom: 1px solid #cabc8f;
}

.button-mailing {
    width: 100%;
    background-color: #b59f5b;
    color: #ffffff;
    height: 48px;
    border: none;
    font-family: "Bold";
    text-transform: uppercase;
    font-size: 0.875rem;
}


/*
*tags
*/

.aside-tags {
    width: 100%;
}

.aside-tags-title {
    font-family: "BOLD";
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 58px;
}

.aside-tags-title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    margin-top: 10px;
}

.aside-tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.aside-tags-item {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "Bold";
    font-size: 0.75rem;
    border: 3px solid #eeeeee;
    padding: 4px 13px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.aside-tags-item:hover {
    border: 3px solid #b59f5b;
}

/*
*сategories
*/

.aside-categories {
    width: 100%;
}

.aside-categories-title {
    font-family: "Bold";
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 53px;
}

.aside-categories-title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-top: 8px;
}

.aside-categories-list>li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.aside-categories-item {
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
    font-family: "Bold";
    font-size: 0.875rem;
    border-bottom: 1px solid #eeeeee;
    padding-top: 12px;
    padding-bottom: 11px;
}

.aside-categories-item:hover {
    color: #b59f5b;
}

.categories-sub {
    vertical-align: super;
    color: #b59f5b;
    font-family: "Bold";
    font-size: 0.75rem;
    padding-top: 5px;
}

/*
*shop
*/

.shop {
    max-width: 1200px;
    padding: 0 15px 64px 15px;
    margin-right: auto;
    margin-left: auto;
}

.shop-title {
    font-family: "Bold";
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.2;
}

.shop-title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    margin-top: 9px;
}

.shop-cards-wrap {
    display: flex;
    justify-content: space-between;

}

.shop-cards {
    width: 29.7%;
}


.shop-img {
    width: 86.5%;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    display: block;
    z-index: 1;
    position: relative;
}

.shop-border {
    border: 3px solid #d5c9a3;
    margin-top: -32px;
    z-index: 2;
    position: relative;
}

.shop-card {
    min-height: 207px;
    padding-left: 18px;
    padding-right: 20px;


}

.shop-card-title {
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "Bold";
    font-size: 1.25rem;
    line-height: 1;
    display: block;
    margin-bottom: 5px;
    margin-top: 53px;
}

.shop-card-content {
    color: #0f0d0e;
    font-family: "Regular";
    font-size: 0.9375rem;
    line-height: 1.4;
    display: block;
}

.shop-link {
    text-decoration: none;
    color: #b59f5b;
    font-family: "Regular";
    font-size: 0.9375rem;
    line-height: 1.2;
}

.shop-link:hover {
    text-decoration: underline;
}

.shop-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    align-items: center;
}

.shop-button {
    color: #ffffff;
    font-family: "Bold";
    font-size: 0.875rem;
    background-color: #b59f5b;
    border-radius: 0;
    width: 140px;
    height: 48px;
    border: none;
    text-transform: uppercase;
}

.shop-card-price {
    color: #0f0d0e;
    font-family: "Bold";
    font-size: 1.25rem;
    line-height: 1;
}


.shop-span-price {
    color: #0f0d0e;
    font-family: "Bold";
    font-size: 0.875rem;
    line-height: 1;
    display: block;
    text-decoration: line-through;
    height: 14px;
}

/*
*footer
*/

.footer {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.socials {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    background-color: #f4f7f6;
    justify-content: center;
}

.socials-link {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    display: block;
    margin: 31px 12px;
}

.socials-link-facebook {
    background-image: url("../svg/002-facebook-logo.svg");

}

.socials-link-twitter {
    background-image: url("../svg/004-twitter.svg");
}

.socials-link-pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

.socials-link-instagram {
    background-image: url("../svg/005-instagram.svg");
}

.socials-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyrights {
    margin-right: auto;
    margin-left: auto;
    width: 211px;
    margin-top: 68px;
    margin-bottom: 38px;
}

.copyrights-text {
    white-space: nowrap;
}

.copyrights-text>a {
    text-decoration: none;
    color: #999999;
    font-size: 0.75rem;
    font-family: "BOLD";
}

/*
*tablet 
*/

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {

    /*
    *header
    */

    .header {
        background-image: url('../images/banner-bg-tablet.jpg');
    }

    .container_header {
        max-width: 768px;
        padding-right: 35px;
        padding-left: 35px;
        padding-top: 44px;
    }


    .logo_img {
        width: 157px;
        height: 36px;
        margin: 0;
    }

    .menu {
        margin-right: 0;
        margin-top: 0;
    }

    .menu_list {
        display: none;
    }

    .menu-hamburger {
        display: flex;
        align-items: center;
        width: 22px;
        height: 18px;
    }

    .menu-hamburger>span,
    .menu-hamburger>span::before,
    .menu-hamburger>span::after {
        display: block;
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }

    .menu-hamburger>span::before {
        content: '';
        top: -7px;
    }

    .menu-hamburger>span::after {
        content: '';
        top: 5px;
    }

    .title_header {
        width: 611px;
        margin-top: 88px;
        padding-bottom: 113px;
    }

    .title_header_item {
        font-size: 2.5rem;
        line-height: 1.4;
    }

    /*
    *trends
    */

    .trends {
        max-width: 768px;
    }

    .trends-title {
        font-size: 1.125rem;
        margin-top: 44px;
    }

    .trends-title::after {
        margin-bottom: 17px;
        margin-top: 9px;
    }

    .wrap-trends {
        flex-wrap: wrap;

    }

    .trends-content {
        font-size: 1.065rem;
    }

    .trends-cards {
        background-position: bottom;
        width: calc(50% - 1px);
        padding: 0px 20px 15px 19px;
        min-height: 247px;
        margin-top: 3px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .trends-border {
        padding: 34px 40px 32px 32px;
        border: 3px solid #b59f5b;
    }

    .trends-item {
        margin-right: 18px;
        margin-bottom: 11px;
    }

    /*
    * main
    */
    .wraper {
        max-width: 698px;
        padding: 49px 0px 53px 0px;
    }

    .main_content {
        max-width: 392px;
        margin-bottom: 53px;
        flex-wrap: wrap;

    }


    .section_img {
        width: 392px;
        max-height: 302px;
        margin-right: 0px;
    }

    .section_img>img {
        width: 392px;
        height: 100%;
    }


    .news {
        max-width: 392px;
        box-sizing: border-box;
    }


    .category_item {
        margin-top: 15px;
    }

    .card-name {
        margin-top: 11px;
        margin-bottom: 0px;

    }

    .card-name>a {
        font-size: 1.0625rem;
        line-height: 1.3;
        margin-right: 0;
    }


    .card-date,
    .author {
        margin-top: 28px;
    }

    .card-content {
        margin-top: 29px;
        line-height: 1.45;
    }

    .card-content>p {
        margin-bottom: 10px;
    }

    .aside-tags-title {
        margin-top: 55px;
    }


    /*
    *shop
    */

    .shop {
        max-width: 768px;
        padding: 0;
    }

    .shop-title::after {
        margin-bottom: 28px;
        margin-top: 11px;
    }

    .shop-cards-wrap {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .shop-cards {
        width: 48.4%;
        margin-bottom: 28px;

    }

    .shop-border {
        margin-top: -37px;
        min-height: 266px;
    }

    .shop-card {
        min-height: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .shop-img {
        min-height: 226px;
    }

    .shop-img img {
        width: 100%;
    }

    .shop-card-title {
        font-size: 1.0625rem;
        margin-bottom: 5px;
        margin-top: 51px;
    }

    .shop-card-content {
        line-height: 1.5;

    }

    .shop-link {
        line-height: 1.2;
    }


    .shop-card-footer {
        margin-top: 22px;
        margin-bottom: 25px;

    }

    .shop-button {
        width: 140px;
        height: 48px;
    }

    .shop-card-price {
        color: #0f0d0e;
        font-family: "Bold";
        font-size: 1.25rem;
        line-height: 1;
    }


    .shop-span-price {

        height: 14px;
    }

    /*
*footer
*/

    .footer {
        max-width: 698px;
    }

}

@media screen and (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {


    /*
    *header
    */

    .header {
        background-image: url('../images/banner-bg-tablet.jpg');
    }

    .container_header {
        max-width: 768px;
        padding-right: 35px;
        padding-left: 35px;
        padding-top: 44px;
    }


    .logo_img {
        width: 157px;
        height: 36px;
        margin: 0;
    }

    .menu {
        margin-right: 0;
        margin-top: 0;
    }

    .menu_list {
        display: none;
    }

    .menu-hamburger {
        display: flex;
        align-items: center;
        width: 22px;
        height: 18px;
    }

    .menu-hamburger>span,
    .menu-hamburger>span::before,
    .menu-hamburger>span::after {
        display: block;
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }

    .menu-hamburger>span::before {
        content: '';
        top: -7px;
    }

    .menu-hamburger>span::after {
        content: '';
        top: 5px;
    }

    .title_header {
        width: 611px;
        margin-top: 88px;
        padding-bottom: 113px;
    }

    .title_header_item {
        font-size: 2.5rem;
        line-height: 1.4;
    }

    /*
    *trends
    */

    .trends {
        max-width: 100%;
    }

    .trends-title {
        font-size: 1.125rem;
        margin-top: 44px;
    }

    .trends-title::after {
        margin-bottom: 17px;
        margin-top: 9px;
    }

    .wrap-trends {
        flex-wrap: wrap;
    }


    .trends-content {
        font-size: 0.875rem;
    }

    .trends-cards {
        width: calc(25% - 1px);
        padding: 0 10px 10px 10px;
        min-height: 146px;

    }

    .trends-border {
        padding: 5px 5px 5px 5px;
        border: 3px solid #b59f5b;
    }

    .trends-item {
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 0.75rem;
    }

    /*
    * main
    */
    .wraper {
        max-width: 698px;
        padding: 49px 0px 53px 0px;
    }

    .main_content {
        max-width: 392px;
        margin-bottom: 53px;
        flex-wrap: wrap;

    }


    .section_img {
        width: 392px;
        max-height: 302px;
        margin-right: 0px;
    }

    .section_img>img {
        width: 392px;
        height: 100%;
    }


    .news {
        max-width: 392px;
        box-sizing: border-box;
    }


    .category_item {
        margin-top: 15px;
    }

    .card-name {
        margin-top: 11px;
        margin-bottom: 0px;

    }

    .card-name>a {
        font-size: 1.0625rem;
        line-height: 1.3;
        margin-right: 0;
    }


    .card-date,
    .author {
        margin-top: 28px;
    }

    .card-content {
        margin-top: 29px;
        line-height: 1.45;
    }

    .card-content>p {
        margin-bottom: 10px;
    }

    .aside-tags-title {
        margin-top: 55px;
    }


    /*
    *shop
    */

    .shop {
        max-width: 768px;
        padding: 0;
    }

    .shop-cards-wrap {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .shop-cards {
        width: 48.4%;
        margin-bottom: 28px;

    }


    .shop-img img {
        width: 100%;
        ;
    }


    /*
*footer
*/

    .footer {
        width: 100%;
    }

}

/*
*mobil
*/

@media (max-width: 640px) {

    /*
    *popup
    */

    .popup {
        width: 329px;
        min-height: 547px;
        top: 55px;
        padding: 27px 26px 0 22px;
    }

    .popup-title {
        font-size: 1rem;
    }

    .popup-title::after {
        margin-bottom: 27px;
    }

    .form-select {
        margin-top: 7px;
        font-family: 'Regular';
        font-size: 0.8125rem;
    }

    .form-group {
        margin-bottom: 32px;
    }

    .radio-group-text::before {

        width: 25px;
        height: 27px;
        margin-top: 0px;
        margin-right: 8px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: 100%;
    }

        /*
    *header
    */

        .header {
            background-image: url('../images/banner-mobile.jpg');
        }

        .container_header {
            max-width: 640px;
            min-height: 638px;
            padding: 32px 17px 0 18px;
        }

        .panel_header {
            flex-direction: column;
            align-items: center;
        }

        .logo {
            order: 2;
        }

        .logo_img {
            width: 276px;
            height: 61px;
            margin: 0;
            margin-top: 175px;

        }

        .menu {
            order: 1;
            margin-left: auto;

        }

        .menu_list {
            display: none;
        }

        .menu-hamburger {
            display: flex;
            align-items: center;
            width: 22px;
            height: 18px;
        }

        .menu-hamburger>span,
        .menu-hamburger>span::before,
        .menu-hamburger>span::after {
            display: block;
            position: relative;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
        }

        .menu-hamburger>span::before {
            content: '';
            top: -8px;
        }

        .menu-hamburger>span::after {
            content: '';
            top: 6px;
        }

        .title_header {
            max-width: 280px;
            margin-top: 34px;
        }

        .title_header_item {
            font-size: 1.625rem;
            line-height: 1.4;

        }


        /*
    *trends
    */

        .trends {
            max-width: 360px;

        }

        .trends-title {
            font-size: 1rem;
            margin-top: 40px;
        }

        .trends-title::after {
            margin-bottom: 25px;
            margin-top: 7px;
        }

        .wrap-trends {
            flex-direction: column;
        }

        .trends-cards {
            width: 100%;
            padding: 0 15px 15px 15px;
            min-height: 230px;
            margin-bottom: 4px;
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
        }


        .trends-border {
            padding: 30px 25px 26px 20px;
            border-color: #72633a;
        }

        .trends-item {
            margin-bottom: 12px;
        }

        .trends-content {
            font-size: 1rem;
        }



        /*
    * main
    */

        .wraper {
            max-width: 360px;
            padding: 41px 14px 0px 14px;
            flex-direction: column;

        }

        .main_content {
            width: 100%;
            flex-direction: column;
        }

        .section_img>img {
            max-width: 329px;
        }

        .news {
            width: 100%;
        }

        .card-name {
            margin-top: 10px;
            max-width: 321px;
            margin-bottom: 1px;

        }

        .card-name>a {
            font-size: 1rem;
            line-height: 1.25;
            margin-right: 0;
        }

        .category_item {
            margin-top: 10px;
        }

        .card-date,
        .author {
            margin-top: 15px;
        }

        .card-date {
            margin-right: 8px;
        }

        .card-content {
            margin-top: 14px;
            font-size: 0.875rem;
            line-height: 1.42;
            max-width: 323px;
        }

        .card-content>p {
            margin-bottom: 4px;
        }

        .card-content:after {
            content: "";
            display: block;
            width: 100%;
            border-bottom: 3px solid #eeeeee;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: -24px;
            margin-top: 20px;
        }

        /*
    *Блок асайд 
    */

        .aside {
            width: 329px;
        }

        .aside-post-cards {
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            margin-bottom: 18px;
        }


        .aside-card {
            width: 239px;

        }

        .aside-card-date {
            line-height: 1.2;
        }

        .aside-post-title {
            font-size: 1rem;
            margin-top: 64px;
        }

        .aside-post-title::after {
            border-bottom: 3px solid #b59f5b;
            margin-bottom: 29px;
            margin-top: 11px;
        }

        /*
    *mailing search
    */

        .aside-search {
            margin-top: 56px;
        }

        .aside-mailing-title {
            font-size: 1rem;
            margin-top: 39px;
        }

        .aside-mailing-title::after {
            margin-bottom: 22px;
        }

        .field-mailing {
            padding-left: 19px;
            margin-bottom: 18px;
        }

        /*
    *tags
    */


        .aside-tags-title {
            font-size: 1rem;
            margin-top: 40px;
        }

        .aside-tags-title::after {
            margin-bottom: 23px;
            margin-top: 10px;
        }


        .aside-tags-title::after {
            margin-top: 9px;
        }

        .aside-tags-item {
            padding: 5px 12px 3px 12px;
            margin-right: 0px;

        }

        .aside-tags-item:nth-child(2n + 1) {
            margin-left: 5px;
        }

        /*
*сategories
*/

        .aside-categories-title {
            font-size: 1rem;
            margin-top: 34px;
        }

        .aside-categories-title::after {
            margin-bottom: 8px;
            margin-top: 9px;
        }



        /*
*shop
*/

        .shop {
            max-width: 360px;
            padding: 47px 15px 15px 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .shop-title {
            font-size: 1rem;
        }

        .shop-title::after {
            margin-bottom: 28px;
            margin-top: 11px;
        }

        .shop-cards-wrap {
            flex-direction: column;

        }

        .shop-cards {
            width: 100%;
            margin-bottom: 25px;

        }


        .shop-img {
            width: 86.5%;
            background-size: cover;
            margin-right: auto;
            margin-left: auto;
            display: block;
            z-index: 1;
            position: relative;
        }

        .shop-img img {
            width: 283px;
            height: 283px;
        }



        .shop-border {
            margin-top: -34px;
        }

        .shop-card {
            min-height: 164px;
            padding-left: 18px;
            padding-right: 20px;
            padding-bottom: 25px;



        }

        .shop-card-title {
            font-size: 1.0625rem;
            margin-bottom: 7px;
            margin-top: 51px;
        }

        .shop-card-content {
            font-size: 0.9375rem;
            line-height: 1.4;
        }

        .shop-link {
            font-size: 0.9375rem;
            line-height: 1.2;
        }



        .shop-card-footer {
            margin-top: 24px;
            margin-bottom: 0;
        }


        /*
*footer
*/

        .footer {
            max-width: 360px;

        }

        .copyrights {
            margin-top: 43px;
            margin-bottom: 38px;
        }

    }

    @media (max-width: 640px) and (orientation: landscape) {

        /*
    *trends
    */


        .trends {
            max-width: 640px;
        }

        .wrap-trends {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .trends-cards {
            width: calc(50% - 3px);
            padding-top: 15px;
            box-sizing: border-box;
        }

    }